
 
  {% extends 'base.html' %}
  {% block content %}

  <div class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">Focus on education to develop the nation.</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Be educated, be empowered!</p>
              <p class="small-text">“Education is simply the soul of a society as it passes from one generation to another” – G.K. Chesterton</p>
              <a href="#footer" class="btn get-quote">CONTACT US</a>
            </div>
            <a href="#feature" class="mouse-hover">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}  
 