<!DOCTYPE html>
<html>
<head>
<title>online fee</title>
<meta name="viewport" content="width-device-width,initial-scale-1">
<link rel="stylesheet"  href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<style>
		body{
	  background-image: url('/static/images/img16.jpg');
	  background-repeat: no-repeat;
	  /*background-color: #ffffff;*/
	  background-size: cover;
	}
		.w3-container{
		font-size:14px;
	}
	.center{
		position : absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
	</style>
	<div class="center">
		<h3 class="donate">
			<div class="w3-card-4">
				<header class="w3-container w3-blue">
					<h1>FEE PAYMENT</h1>
				</header>
				<div class="w3-container">
					<p>Facilitates Online Fee Collection for students in ABC SCHOOL</p>
				</div>
				 <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AWRQB_G4oXkJ32hnSP8giK-vjcpXCRrsxpwkzTnPyRFN927liYs4jflarkKaW87g24VPijL9mJWgqcSS&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '50'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
				<footer class="w3-conatiner w3-blue">
					<!-- <h5>&copy Professional Cipher</h5> -->
				</footer>
			</div>
		</h3>
	</div>
</body>
